# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\session 1\420-126 poo 1\deuxiemeProjet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
